footer.footer.align-items-center.text-white.py-5
    .container
        .row.justify-content-center
            .col-md-10.col-lg-8.text-center
                .row.justify-content-center.g-3
                    .col-12.col-md-6.col-lg-3
                        a.btn.btn-outline-light.btn-sm.px-4.p-3(href="/quienesSomos") Quienes Somos
                    .col-12.col-md-6.col-lg-3
                        a.btn.btn-outline-light.btn-sm.px-4.p-3(href="/encuentros") Encuentros
                    .col-12.col-md-6.col-lg-3
                        a.btn.btn-outline-light.btn-sm.px-4.p-3(href="/experiencias") Experiencias
                    .col-12.col-md-6.col-lg-3
                        a.btn.btn-outline-light.btn-sm.px-4.p-3(href="/productos") Tienda
                    h4 Gracias por visitar nuestra web
                    p Juntos por un mundo mejor y ayudarnos entre todos
