footer.footer.d-flex.align-items-center.text-white
    .container
        .row.justify-content-center
            .col-md-6.text-center
                .d-flex.gap-4.justify-content-center.p-3
                    a.btn.btn-outline-light.btn-sm.px-4.p-3(href="/quienesSomos") Quienes Somos
                    a.btn.btn-outline-light.btn-sm.px-4.p-3(href="/encuentros") Encuentros
                    a.btn.btn-outline-light.btn-sm.px-4.p-3(href="/experiencias") Experiencias
                    a.btn.btn-outline-light.btn-sm.px-4.p-3(href="/productos") Tienda
                h4 Gracias por visitar nuestra web
                p Juntos por un mundo mejor y ayudarnos entre todos
