header.header.d-flex.align-items-center.text-white
    .container
        .row.justify-content-center
            .col-md-8.text-center
                a(href="/")
                    img(src="/img/portadaSin.png" class="card-img-top mb-4" style="width: 200px;")
                h5.mb-5.opacity-75 Especialistas en personas con diferentes facultades. Diseñamos herramientas para que tu potencial no tenga límites.
                .d-flex.gap-4.justify-content-center
                    a.btn.btn-outline-light.btn-lg.px-4.p-3(href="/quienesSomos") Quienes Somos
                    a.btn.btn-outline-light.btn-lg.px-4.p-3(href="/encuentros") Encuentros
                    a.btn.btn-outline-light.btn-lg.px-4.p-3(href="/experiencias") Experiencias
                    a.btn.btn-outline-light.btn-lg.px-4.p-3(href="/productos") Tienda