header.header.align-items-center.text-white.py-5
    .container
        .row.justify-content-center
            .col-md-10.col-lg-8.text-center
                a(href="/")
                    img(src="/img/portadaSin.png" class="mb-4" style="width: 200px;" alt="Logo")
                h1.h5.mb-5 Especialistas en personas con diferentes facultades. Diseñamos herramientas para que tu potencial no tenga límites.
                .row.justify-content-center.g-3
                    .col-12.col-md-6.col-lg-3
                        a.btn.btn-outline-light.btn-lg.w-100.py-3(href="/quienesSomos") Quienes Somos
                    .col-12.col-md-6.col-lg-3
                        a.btn.btn-outline-light.btn-lg.w-100.py-3(href="/encuentros") Encuentros
                    .col-12.col-md-6.col-lg-3
                        a.btn.btn-outline-light.btn-lg.w-100.py-3(href="/experiencias") Experiencias
                    .col-12.col-md-6.col-lg-3
                        a.btn.btn-outline-light.btn-lg.w-100.py-3(href="/productos") Tienda